---
layout: default
title: Blog | Pajurama Kreativagentur
lang: de
seo:
  title: Blog | Pajurama Kreativagentur
  description: In unserem Blog erfährst du alles über kreative Fotografie, ganzheitliches Webdesign und authentisches Branding. Wir stellen konkrete Projekte vor, erzählen die Geschichten dahinter und teilen wertvolle Insights und Tipps für kreative Köpfe und visionäre Marken. Lass dich von einzigartigen Ideen inspirieren, um deine Projekte auf das nächste Level zu bringen.
  social_image:
  twitter_card:
  keywords: Pajurama Blog, Kreativagentur Schwyz, Fotografie Blog, Webdesign Blog, Branding Tipps, kreative Ideen, ganzheitliches Design, authentisches Branding, visionäre Marken, Projektgeschichten
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>


<section>
    <div class="capped-width padded padded-t-1 padded-b-2">
         <div class="bg-paper-about grid-spaceAround-middle">
            <div class="col-6 padded">
                 <div class="bg-img-index-1 relative">
                    <img src="/images/amy-baserga-about.png" class="img-style-1">
                    <h2 class="padded-1"> Meine Geschichten </h2>
                 </div>
            </div>
            <div class="col-6 padded text-white">
                <h1> Blog </h1>
                <p> Ich bin Amy – Biathletin, Wettkämpferin und Mensch mit grosser Leidenschaft für den Sport. Der Biathlon begleitet mich seit meiner Kindheit und hat mich geprägt wie kaum etwas anderes. Ich liebe die Herausforderung, den Fokus, die Kombination aus Kraft, Technik und mentaler Stärke. Gleichzeitig gehört für mich viel mehr zum Leben als nur der Sport – Familie, Freund:innen, Musik, Reisen und die Menschen, die mich auf meinem Weg unterstützen. </p>
            </div>
        </div>
    </div>
</section>



<section class="capped-width md-padded-2 padded-t-1 padded-b-0">

    <div class="capped-width padded grid-center">


        {% assign current_lang = page.lang | default: site.lang | default: 'de' %}
        {% assign lang_posts = site.posts | where: "lang", current_lang %}

        {% for post in lang_posts limit:24 %}
        {% include post-loop-item-square.html %}
        {% endfor %}


    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<!----
<section class="bg-dark">
    <section class="bg-dark text-light padded center capped-width"> 

        <div class="capped-width-narrow">
            <h2> Abonniere den Newsletter meiner Firma </h2>
            <p> Mit unserer Theta-Welten Schwyz GmbH unterstützen wir Menschen von klein bis gross in jeglichen Lebenslagen auf emotionaler und spiritueller Ebene, immer verbunden mit Mutter Erde. </p>
            <a href="#" class="button"> Abonnieren </a>
        </div>

    </section> 
</section>
--->


<!------------------------ Split blog loop (part 2) ------------------------>
<!----->
<section class="capped-width md-padded-2 padded-b-05 padded-t-0">


    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded-2">
            <a class="button" href="/blog-archiv"> Archiv </a>
        </div>
       
    {% endif %}

</section>

