<section class="bg-dark">
  <footer class="capped-width grid-spaceAround-middle md-padded-2 padded-1 padded-b-05">
    <div class="col-12 show-xs center bg-footer-logo">
      <a href="/">
        <img src="/icons/SVG/amy-baserga-illustrationslogo-4-mittelbraun.svg" class="footer-logo">
      </a>
    </div>
    <nav class="col-4_xs-12 left xs-center xs-padded-t-2">
      <a href="/"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <a href="/biathlon/karriere.html"> Karriere </a>
      <a href="/biathlon/sponsoren.html"> Sponsoren </a>
    </nav>
    <div class="col-4_xs-6 hide-xs center bg-footer-logo">
      <a href="/">
        <img src="/icons/SVG/amy-baserga-illustrationslogo-4-mittelbraun.svg" class="footer-logo">
      </a>
    </div>
    <nav class="col-4_xs-12 right xs-center">
      <a href="/shop.html"> Shop </a>
      <a href="/blog.html"> Blog </a>
      <a href="/media-hub.html"> Media Hub </a>
      <a href="/kontakt.html"> Kontakt </a>
    </nav>
    <div class="col-12-right right xs-center">
      <div class="padded-t-05">
        <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
      </div>
    </div>
    <div class="col-9_xs-12-bottom right padded-b-05 show-xs xs-center">
      <div>      <a href="mailto:amybaserga@gmail.com" class="email-footer block"> amybaserga@gmail.com </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p class="hide-xs size-09"> ©Amy Baserga 2025 </p>
   </div>
    <div class="col-3_xs-12-middle left xs-center padded-t-1 padded-b-05">
      <p class="editable size-09"> Web Design & Grafikdesign<a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-hauptlogo-hell.svg" class="pajurama-logo"> </a> </p>
      <p class="show-xs size-09"> ©Amy Baserga 2025 </p>
   </div>
    <div class="col-9_xs-12-bottom right padded-b-05 hide-xs">
      <div> <a href="mailto:amybaserga@gmail.com" class="email-footer block"> amybaserga@gmail.com </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
   </div>
   <div class="col-12 hide-xs center">
          <p class="size-09"> ©Amy Baserga 2025 </p>
   </div>
  </footer>

</section>
  